/*
SASS Variables
*/
/* 
box properties 
*/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

/* 
mixins
*/
/*
html elements
*/
img {
  width: 100px;
  height: 100px;
  padding: 5px;
  background-color: #A288A6;
  border: 1px solid #90e0ef;
  border-radius: 15px;
}

/*
class selectors 
*/
.wrapper {
  background-color: #F5DDDD;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  color: #083D77;
}

.wrapper {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: minmax(150px, auto);
  grid-gap: 5px;
  grid-template-areas: "header" "rules" "content" "footer";
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 10px;
}

.header {
  grid-area: header;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(200px, auto);
  grid-gap: 2px;
  grid-area: content;
  grid-template-areas: "box1 box2" "box1 box2" "roll roll" "userscore aiscore" "usertotal aitotal";
}

.rules {
  list-style: circle inside;
  padding: 0;
  margin: 0;
  grid-area: rules;
}

.box1 {
  grid-area: box1;
}

.box2 {
  grid-area: box2;
}

.roll {
  grid-area: roll;
  align-items: center;
}

.user-score {
  grid-area: userscore;
}

.ai-score {
  grid-area: aiscore;
}

.usertotal {
  grid-area: usertotal;
  text-align: center;
}

.aitotal {
  grid-area: aitotal;
  text-align: center;
}

.footer {
  grid-area: footer;
  background-color: #F5DDDD;
  color: #083D77;
  text-align: center;
}

/*
id selectors 
*/
#pop-up {
  width: 450px;
  height: 200px;
  padding: 10px;
  background-color: #C2B2B4;
  color: #083D77;
  position: absolute;
  justify-content: center;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  border: 1px solid #b5838d;
  border-radius: 15px;
}

#close-me {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  pointer-events: all;
  border: 1px solid #b5838d;
  border-radius: 0px;
}

/*
media queries
*/
